<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant List</title>
</head>
<body>
    <h1>Restaurants</h1>
    <p>Uzumaki Wisnu Ary Swadana X Kirisaki Chitoge</p>
    <ul>
        {% for restaurant in restaurants %}
        <li>
            <h2>{{ restaurant.name }}</h2>
            <p>{{ restaurant.description }}</p>
            <img src="{{ url_for('static', filename='uploads/' + restaurant.image) }}" alt="{{ restaurant.name }}" width="200">
        </li>
        {% endfor %}
    </ul>
</body>
</html>
